@model TravelBlog.Models.Person

<html>
<head>
    <title>Travel Blog - Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    <h4>Add a new person</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)

        @Html.LabelFor(model => model.ExperienceId)
        @Html.DropDownList("ExperienceId")
        <input type="submit" value="Add new person" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>